.title-screen {
  -fx-background-image: url("images/titlebg.gif");
  -fx-background-size: 100%, 100%;
}

.title-label {
  -fx-font-size: 48px;
  -fx-text-fill: #fff;
  -fx-font-weight: bold;
}

.score-label {
  -fx-font-size: 24px;
  -fx-text-fill: #eee;
}

.start-button {
  -fx-background-radius: 0;
  -fx-effect: none;
  -fx-font-size: 20px;
  -fx-padding: 10px 20px;
  -fx-background-color: #990000;
  -fx-text-fill: #fff;
  -fx-font-weight: bold;
}

.byline-label {
  -fx-font-size: 14px;
  -fx-text-fill: #aaa;
}
